body {
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.9); /* Light grey with some transparency */
  z-index: 1; /* Ensure the sidebar is on top */
  overflow: auto; /* Allow scrolling if content overflows */
}

canvas {
  display: block;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Ensure the canvas is behind the sidebar */
}
